[Desktop Entry]
Name=COSMIC MControlCenter
Exec=cosmic-mcontrolcenter %F
Terminal=false
Type=Application
StartupNotify=true
Icon=com.radgit.mcontrolcenter
Categories=COSMIC;
Keywords=
MimeType=
